@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3><br>
<p><strong>@ViewData["Student"]</strong></p>


<p>For <strong>more information</strong> <a href="mailto:andre@iacb.com.br">contact</a> me.</p>
